PORT=4000
DB_HOST=192.168.10.204
DB_PORT=3306
DB_USER=meat
DB_PASSWORD=Meat@123
DB_NAME=meat_business_db
JWT_SECRET=meatbiz_v66_secret
ALLOW_PLAIN_PASSWORD=true
PUBLIC_APP_URL=http://localhost:5173
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
GOOGLE_PROJECT_ID=meatfood-496515
DOCUMENT_AI_PROCESSOR_ID=2ccf7f8094874a2
DOCUMENT_AI_LOCATION=us
